{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}{{title}}{% endblock title_block %}

{% block body_block %}
<center>
    <form class="col-md-4 px-4 my-5 py-5 shadow myform" method="POST">
        <h3 class="mb-4 text-info">Create an account to view videos and comment.</h3>
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary px-4 my-2">Sign up</button>
    </form>
    <div>
        <p class="my-3">Already have an account? <a class="text-decoration-none" href="{% url 'app_video:login' %}">Login here</a></p>
    </div>
</center>
{% endblock body_block %}